*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.fadeOut{
    animation: fadeOut 0.3s ease;
}

@keyframes fadeOut { 
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
} 

